__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.env
*.env

venv/
.venv/
env/

.pytest_cache/
.ipynb_checkpoints/

*.log
pipeline.log

.DS_Store
Thumbs.db

outputs/
google_drive/
token.json
credentials.json

data/raw/
data/embeddings/
data/processed/audio/
data/processed/frames/
data/processed/resized/
data/processed/thumbnails/
data/processed/transcripts/
data/processed/webp/

notebooks/
lecture-code/